*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    scroll-behavior:smooth;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0px;
    /*position:sticky;
    top:0;*/
    padding:20px;
    font-size:18px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

nav .PortfolioContainer{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-family: 'Zen Dots', cursive;
    margin-left: 12px;
}

nav .PortfolioContainer .Port{
    color: white;
}

nav .PortfolioContainer .folio{
    color:crimson;
    margin-left: -5px;
}

nav .Tab{
    text-decoration: none;
    color:aliceblue;
    margin:10px;
    padding:10px;
}

nav .Tab:hover{
    border-bottom: 3px solid crimson;
    opacity:0.7;
}


/* ------------- Home Container -------------*/
.HomeAnchor{
    text-decoration: none;
    color:white;
}

.BackVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.HomeContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:40px;
    height: 80vh;
}
.TextContainer{
    /*border: 2px solid green;*/
    margin-left: 50px;
    font-size:35px;
    margin-top:30px;
    font-weight: bolder;
    color:darkgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TextContainer .Name{
    color:darkgreen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-shadow: 0 0 2px greenyellow,
    0 0 3px greenyellow,
    0 0 5px white,
    0 0 5px white;
    letter-spacing: 3px;
}

.Description{
    font-size: 27px;
    margin-top:3px;
    color:indianred;
}

.Description .Description-text{
    color:bisque;
}
.HomeContainer .ImageContainer .image{
    height:400px;
    width: 500px;
    margin-right: 110px;
    margin-top: 60px;
    border-radius: 72% 28% 56% 44% / 9% 68% 32% 91% ;
    box-shadow: 0 0 50px wheat,
    0 0 30px greenyellow,
    0 0 10px white,
    0 0 5px white;
}

.Download-Button{
    padding:10px;
    width:150px;
    margin-top:20px;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-size:15px;
}
.Download-Button {
    animation: wiggle 2s linear infinite;
  }
  
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  

.Download-Button:hover{
    opacity: 0.5;
}
/*--------------- SKILLS --------------------*/
.SkillsContainer{
    color:white;
    margin-top:110px;
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,57,105,1) 51%, rgba(0,212,255,1) 100%);    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/


    border:1px solid purple;
    background-image: url('1.png');
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

.Skillimg h1{
    padding: 20px;
}



.SkillsDetails p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bolder;
    color:wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SkillsMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;
}

.MenuName{
    margin:10px;
    padding:8px;
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color:  rgb(51, 50, 50)  ;
    color:white;
    letter-spacing: 1px;
    border-top:none;
    border-left: none;
    border-right: none;
    cursor:pointer;
    border-bottom:2px solid white;
}

.MenuName:hover{
    opacity:0.8;
    background-color: gray;
    transform:scale(1.1,1.1);
    transition:1s all ease-in-out;
    
}

#Education ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}

.EducationName{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: yellow;
}

.EducationName i{
    color:burlywood;
}

.EducationPercentage{
    font-size: 20px;
    color:cornsilk;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.EducationPercentage i{
    color: rgb(209, 146, 159);
    font-weight: bolder;
}
#TechnicalSkills{
    display: none;
    list-style-type: none;
}

#TechnicalSkills ul li{
    list-style-type: none;
}

.ListStyle1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    color:rgb(239, 158, 174);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ListStyle2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color:rgb(239, 158, 174);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#TechnicalSkills ul li h3{
    margin-bottom: 10px;
    color:yellow;
}
#SoftSkills{
    display: none;
}

#SoftSkills ul li h3{
    margin-bottom: 10px;
    color:yellow;
}

#SoftSkills ul li{
    list-style-type: none;
}

h1{
    text-align: center;
    font-size:50px;
    text-decoration: underline;
    font-family: 'pacifico', cursive;
    background: linear-gradient(90deg, #00dbde, #ff0090);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

#Achievements{
    display: none;
}

#Achievements ul .ListStyle1 .even{
    color:yellow;
}

#Achievements ul{
    list-style-type: none;
}

#Achievements ul .ListStyle1 li a{
    color:chartreuse;
    text-decoration: none;
}

/*---------------PROJECTS ----------------------*/

.ProjectsContainer{
    /*border:1px solid purple;
    background-image: url('1.png');
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    height:160vh;*/
     
    background-color: #43345d;
    min-height : 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ProjectsContainer h1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ProjectDetails
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    margin-top:120px;
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    padding : 30px;  
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 420px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

.ProjectButton button{
    color: white;
    background-color: rgb(6, 102, 6);
    padding: 8px;
    font-weight: bold;
}

#showMoreButton{
    color:black;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 5px solid gray;
    padding: 10px;
    font-size: 20px;
    width:10%;
    margin-bottom: 60px;
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}

#showMore{
    display: none;
}

/*--------------- CONTACT --------------------*/
.ContactContainer{

    display: flex;
    justify-content: space-around;
    
}

.ContactLinks{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
}

.ContactLinks span{
    text-align: center;
    font-weight: bolder;
    font-size:20px;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Contactcolor{
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactContainer .ContactLinks .Sociallinks {
    background-color:darkmagenta;
    border:2px solid pink;
    font-weight: bolder;
    font-size:18px;
    padding:40px;
    border-radius:50%;
}

.ContactContainer .ContactLinks .Sociallinks .Links {
    margin-bottom: 2px;
}

.ContactDetails{
    
    margin-right:100px;
    padding:40px;
    padding-left: 50px;
    padding-right: 50px;
    
    
    border-radius: 10px;
    width: 400px;
}

.ContactDetails form h3{
    color:rgb(22, 189, 22);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:20px;
    font-size:35px;
}

.ContactDetails form label{
    color:rgb(22, 189, 22);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
}
.ContactDetails form  .info{
    margin-bottom: 10px;
    background-color:darkgray;
    color: black;
    border-radius: 5px;
    width:100%;
    border:3px solid burlywood;
    font-size:18px;
    padding: 3px;
    border:2px solid cadetblue;
}
.bottom{
    
    height:50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
}

.ContactDetails form button{
    width:100%;
   background-color: rgb(7, 113, 117);
    font-weight: bold;
    padding:8px;
    border-radius: 20px;
    border: 3px solid darkgrey;
    color:rgb(248, 245, 245);
    font-size:17px;
    cursor: pointer;
}
@media screen and (max-width:991px){
    /*NAvBAr*/
    nav .PortfolioContainer{
        font-size: 40px;
        padding: 30px;
    }
    .Tab{
        font-size: 30px;
    }
    .offcanvas-body{
        font-size:40px;
    }
    .offcanvas-title{
        font-size: 40px;
    }
    .navbar-toggler{
        font-size: 40px;
    }
    /*Home*/
    .HomeContainer{
        flex-direction: column;
        height: 91vh;
    }

    .TextContainer{
        font-size:70px;
    }

    .HomeContainer .TextContainer .text ::first-letter{
        font-size:80px;
    }
    .HomeContainer .ImageContainer .image{
        height:700px;
        width:auto;
        margin-left:100px;
    }
    .Description{
        font-size: 55px;
    }
    .Download-Button{
        width:350px;
        padding:15px;
        border-radius: 50px;
        font-size: 35px;
    }
    .ContactDetails{
        margin-right: 0;
        width:400px;
    }
    /*Skills*/
    .SkillsContainer{
        height:80vh;
    }
    h1{
        margin-top:100px;
        font-size:90px;
    }
    .SkillsDetails p{
        font-size:50px;
        margin:20px;
        margin-top:80px;
    }
    .MenuName{
        margin-top:60px;
        font-size:40px;
    }
    .EducationName{
        font-size:45px;
    }
    .EducationPercentage{
        font-size:42px;
    }
    .ListStyle1{
        font-size: 45px;
    }
    .ListStyle2{
        font-size:45px;
    }
    #TechnicalSkills ul li h3{
        font-size:45px;
    }
    #SoftSkills ul li h3{
        font-size: 45px;
    }

    /*My Projects*/
    .ProjectsContainer{
        height:100vh;
    }
    #showMoreButton{
        
     width:20%;
    }
}

.shapes{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content:center;
    overflow: hidden;
    align-items: center;
    background: url(https://i.postimg.cc/bNKJvqj1/space1.jpg);
    background-size: cover;
    background-repeat: repeat;
    
}

.shapes .rocket {

    transform: rotate(113deg);
    z-index: 100 !important;
    
}

.shapes .rocket-holder {
    animation:up-down infinite ;    
    animation-direction: alternate;
    animation-duration: 150ms;
    z-index: 100 !important;
    position: absolute;
    margin-top: 220px;
    left:30%;
}

 @keyframes up-down {
    100% {transform: translateY(0px);}
   0% {transform: translateY(5px);}
} 

.shapes .shape0 {
    position: absolute;
    background: beige;
    border-radius: 80%;
    z-index: 8;
    right: 0px;
    animation: rocket ;
    animation-iteration-count: infinite;
    margin-top: 250px;
}



.shapes .shape1 {
    height: 3px;
    width: 30px;   
    margin-top:50px;
 
    animation-duration: 2s;
    animation-delay: 700ms;  
}
.shapes .shape2 {
    height: 3px;
    width: 60px;
    margin-top: 80px;
    animation-duration: 3s;
    animation-delay: 500ms;  
}

.shapes .shape3 {
    height: 3px;
    width: 30px;
    margin-top:90px;
    animation-duration: 4s;
    animation-delay: 150ms;

}


.shapes .shape4 {
    height: 3px;
    width: 10px;
    margin-top:300px;
    animation-duration: 1s;
    animation-delay: 300ms;
}

.shapes .shape5 {
    height: 3px;
    width: 30px;
    margin-top: 450px;
    animation-duration: 5s;
    
}


@keyframes rocket {
    0% {transform:translateX(0px)}
    100% {transform:translateX(-4000px)}
}




.planets {
    position: absolute;
     right: 0px; 
     z-index: 8;
     animation: rocket ;
    animation-iteration-count: infinite;
    animation-duration: 15s;  

   
}
.planet1 {
  
    margin-top: 60px;    
    animation-delay: 50ms;

}

.planet5 {
    
    margin-bottom:230px;
    animation-delay: 5s;
}

.planet7 {
    
    margin-bottom:330px;
    animation-delay: 9s;
}

.quote{
    font-size:30px;
    font-weight: bolder;
    color: rgb(204, 204, 204);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


